<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <br>
    <div class="container">
        <h2>Categorias</h2>
        <table class="table table-borderadd">
            <thead>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <html>Ações</html>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Dev Web</th>
                    <th>def-web</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>